.header{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 30px;
    padding: 20px;
}
.header-button-left{
    display: flex;
    gap: 20px;
    padding: 5px;
    min-width:min-content;
}
.header-button-right{
    display: flex;
    gap: 20px;
    padding: 5px;
    min-width:min-content;
}
.content{
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}
.sidebar{
    background-color: rgb(235, 205, 160);
    display: flex;
    flex-shrink: 0;
    align-content: flex-end;
}
.clock{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
}
.date{

}
.time{

}
.calendar{
    display: flex;
    justify-content: center;
}
.weather{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: aliceblue;
}